@using ProjetoInter.Controllers
@model HomeIndexViewModel

<div class="py-5">

    <div class="container">

        @if (TempData["MensagemSuccess"] != null)
        {
            <div class="alert alert-info" role="alert">
                <button type="button" class="btn btn btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">
                    X
                </button>
                @TempData["MensagemSuccess"]
            </div>
        }

        <div class="text-center mb-5">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-filter me-2"></i>Filtros
                </button>
                <ul class="dropdown-menu">
                    <form method="post" asp-action="Index" asp-controller="Home" class="d-flex justify-content-center gap-4">
                        <div>
                            <label for="Name" class="form-label">Nome do produto</label>
                            <input value="@Model.Search?.Name" name="Name" class="form-control mx-2" id="Name" style="border:1px solid black;" />
                        </div>
                        <div>
                            <label for="Status" class="form-label">Estado do produto:</label>
                            <select class="form-select" name="Status" id="Status">
                                @if (Model.Search?.Status == null)
                                {
                                    <option selected value="">Todos</option>
                                    <option value="@ProductStatus.sligthly_damaged">Pouco danificado</option>
                                    <option value="@ProductStatus.perfect">Em perfeito estado</option>
                                    <option value="@ProductStatus.heavily_damaged">Muito danificado</option>
                                } 
                                else if (Model.Search?.Status == ProductStatus.sligthly_damaged)
                                {

                                    <option value="">Todos</option>
                                    <option selected value="@ProductStatus.sligthly_damaged">Pouco danificado</option>
                                    <option value="@ProductStatus.perfect">Em perfeito estado</option>
                                    <option value="@ProductStatus.heavily_damaged">Muito danificado</option>
                                }
                                else if (Model.Search?.Status == ProductStatus.perfect)
                                {

                                    <option value="">Todos</option>
                                    <option value="@ProductStatus.sligthly_damaged">Pouco danificado</option>
                                    <option selected value="@ProductStatus.perfect">Em perfeito estado</option>
                                    <option value="@ProductStatus.heavily_damaged">Muito danificado</option>
                                }
                                else if (Model.Search?.Status == ProductStatus.heavily_damaged)
                                {

                                    <option value="">Todos</option>
                                    <option value="@ProductStatus.sligthly_damaged">Pouco danificado</option>
                                    <option value="@ProductStatus.perfect">Em perfeito estado</option>
                                    <option selected value="@ProductStatus.heavily_damaged">Muito danificado</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label for="MinimumValue" class="form-label">Valor acima de:</label>
                            <input value="@Model.Search?.MinimumValue" type="number" name="MinimumValue" class="form-control mx-2" id="MinimumValue" style="border:1px solid black;" />
                        </div>
                        <div>
                            <label for="MaximumValue" class="form-label">Valor abaixo de:</label>
                            <input value="@Model.Search?.MaximumValue" type="number" name="MaximumValue" class="form-control mx-2" id="MaximumValue" style="border:1px solid black;" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-10">Pesquisar</button>
                    </form>
                </ul>
            </div>
           
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0 ">
            @if (Model != null)
            {
                if (Model.Products.Count() > 0)
                {
                    @foreach (var product in Model.Products)
                    {
                        <div class="card mx-3 my-3 text-center justify-content-center d-flex align-content-center" style="width: 12rem;">
                            @if (product.ImageUrl != null)
                            {
                                <img src="/imagem/@product.ImageUrl" class="card-img-top" style="width:190px; height:150px">
                            } else {
                                <img src="/imagem/emptyImage.png" class="card-img-top" style="width:190px; height:150px">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Preço: R$ @product.Value</li>
                            </ul>
                            <div class="card-body">
                                <a class="btn btn-primary w-100 mb-2" style="font-size:16px" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">Detalhes</a>
                                @if (product.IsProductInMyMarketCart)
                                {
                                    <!-- Se o produto estiver no carrinho, mostra o botão "Remover do carrinho" -->
                                    <a class="btn btn-danger w-100" style="font-size:16px" asp-action="RemoveFromMarketCar" asp-controller="MarketCar" asp-route-id="@product.Id">Remover do carrinho</a>
                                }
                                else
                                {
                                    <!-- Se o produto não estiver no carrinho, mostra o botão "Adicionar ao carrinho" -->
                                    <a class="btn btn-primary w-100" style="font-size:16px" asp-action="AddToMarketCar" asp-controller="MarketCar" asp-route-id="@product.Id">Adicionar ao carrinho</a>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>
</div>
