@model ProductModel


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">
            X
        </button>
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">
    <form method="post" asp-action="UpdateProduct" asp-controller="Product" enctype="multipart/form-data">
        <h2>Editar o produto @Model.Title</h2>

        <input type="hidden" asp-for="Id" /> <!-- Para pegar o ID quando fizer busca no banco -->

        @if (Model.ImageUrl != null)
        {
            <div class="text-center">
                <label for="ImageFile">
                    <img src="/imagem/@Model.ImageUrl" id="img" style="width:150px; height:200px" />
                </label>
            </div>
        }

        <div class="mb-1">
            <label class="form-label mt-3">Capa:</label>
            <input type="file" id="ImageFile" name="image" class="form-control shadow-none" />
        </div>


        <div class="mb-1">
            <label class="form-label">Nome:</label>
            <input type="text" asp-for="Title" class="form-control shadow-none" id="Title">
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
        </div>

        <div class="mb-1">
            <label class="form-label">Descricao:</label>
            <textarea type="text" asp-for="Description" class="form-control shadow-none" id="Description"> </textarea>
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
        </div>


        <div class="mb-1">
            <label class="form-label">Valor:</label>
            <input type="number" min="1" step="any" asp-for="Value" class="form-control shadow-none" id="Value">
            @Html.ValidationMessageFor(x => x.Value, "", new { @class = "text-danger" })
        </div>

        <div class="mb-1">
            <label class="form-label">Estado do produto:</label>
            <select class="form-select" asp-for="Status">
                <option value="sligthly_damaged">Pouco danificado</option>
                <option selected value="perfect">Em perfeito estado</option>
                <option value="heavily_damaged">Muito danificado</option>
            </select>
        </div>


        <div class="btn-box d-flex mt-3">
            <button type="submit" type="button" class="btn btn-success w-50 mx-1"><i class="bi bi-plus-circle"></i> Editar!</button>
            <a type="submit" class="btn btn-info w-50" asp-controller="Product" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
        </div>


    </form>
</div>



<script>

    // Para visualizar a imagem
    const inputFile = document.querySelector("#ImageFile");

    inputFile.addEventListener("change", function (e) {
        const inputTarget = e.target;
        const file = inputTarget.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function (e) {
                const readerTarget = e.target;
                const img = document.querySelector("#img");
                img.src = readerTarget.result;

                const figcaption = document.querySelector("#figcaption");
                figcaption.innerHTML = file.name;
            });

            reader.readAsDataURL(file);
        }
    }


    )
</script>