@using ProjetoInter.Controllers
@model HomeIndexViewModel

<div class="py-5">

    @if (TempData["MensagemSuccess"] != null)
        {
            <div class="alert alert-info" role="alert">
                <button type="button" class="btn btn btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">
                    X
                </button>
                @TempData["MensagemSuccess"]
            </div>
        }

        <div class="wrapper position-static">
            <div class="sidebar-market-car bottom-0 end-0 position-absolute">
                <div class="d-flex flex-column gap-64 justify-content-start">
                    <div class="flex flex-column">
                        <p>
                            Endereço para entrega: @Model.User.Address
                        </p>
                        <p>
                            Quantidade de produtos: @Model.Products.Count()
                        </p>
                        <p>
                            Valor total: R$ @Model.User.MarketCarProductsTotalValue
                        </p>
                    </div>
                    <div>
                    @if (@Model.Products.Count() == 0)
                    {
                        <p>Nenhum item no carrinho</p>
                    } else {
                        <a class="btn btn-success w-100" style="font-size:16px" asp-action="BuyProducts" asp-controller="MarketCar" >Finalizar Compra</a>
                    }
                    </div>
                </div>
            </div>
        </div>
    <div class="container flex ">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0 ">
            @if (Model != null)
            {
                if (Model.Products.Count() > 0)
                {
                    @foreach (var product in Model.Products)
                    {
                        <div class="card mx-3 my-3 text-center justify-content-center d-flex align-content-center" style="width: 12rem;">
                            @if (product.ImageUrl != null)
                            {
                                <img src="/imagem/@product.ImageUrl" class="card-img-top" style="width:190px; height:150px">
                            }
                            else
                            {
                                <img src="/imagem/emptyImage.png" class="card-img-top" style="width:190px; height:150px">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.Title</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Preço: R$ @product.Value</li>
                            </ul>
                            <div class="card-body">
                                <a class="btn btn-primary w-100 mb-2" style="font-size:16px" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">Detalhes</a>
                                <!-- Se o produto estiver no carrinho, mostra o botão "Remover do carrinho" -->
                                <a class="btn btn-danger w-100" style="font-size:16px" asp-action="RemoveFromMarketCar" asp-controller="MarketCar" asp-route-id="@product.Id">Remover do carrinho</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="d-flex w-100">
                        <h1>Nenhum produto para visualizar</h1>
                    </div>
                }
            }
        </div>

    </div>
</div>
