@model UserModel

<div class="wrapper">
    <div class="sidebar">
        <ul class="p-0">
            <li class="@(IsActive("Home", "Index") ? "active" : "")">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>Home
                </a>
            </li>
            <li class="@(IsActive("User", "Update") ? "active" : "")">
                <a asp-area="" asp-controller="User" asp-action="Update">
                    <i class="fas fa-user"></i>Perfil
                </a>
            </li>
            @if (Model.Role == UserRole.seller)
            {
                <li class="@(IsActive("Product", "Index") ? "active" : "")">
                    <a asp-area="" asp-controller="Product" asp-action="Index">
                        <i class="fas fa-address-card"></i>Meus Produtos
                    </a>
                </li>
            }
            <li class="position-relative @(IsActive("MarketCar", "Index") ? "active" : "")">
                <a asp-area="" asp-controller="MarketCar" asp-action="Index">
                    <i class="fas fa-shopping-cart"></i>Meu carrinho
                </a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @Model.MarketCarProductsCount <!--bolinha vermelha-->
                    <span class="visually-hidden">unread messages</span>
                </span>
            </li>
            <li class="@(IsActive("MyShopping", "Index") ? "active" : "")">
                <a asp-area="" asp-controller="Product" asp-action="MyShopping">
                    <i class="fas fa-server"></i>Minhas compras
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Login" asp-action="LogOut">
                    <i class="fa fa-sign-out"></i>Sair
                </a>
            </li>
        </ul>
    </div>
</div>

@functions {
    private bool IsActive(string controller, string action)
    {
    /*
    URL: / Home / Index
    routeData["controller"]: "Home"
    routeData["action"]: "Index"
    controller: "Home"
    action: "Index"
    */
        var routeData = ViewContext.RouteData.Values;
        var currentController = routeData["controller"]?.ToString();
        var currentAction = routeData["action"]?.ToString();

        return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase) &&
               string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase);
    }
}
